In [97]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt

# File to Load
file_to_load = "./Resources/MoviesOnStreamingPlatforms_updated.csv"

# Read Purchasing File and store into Pandas data frame
csv = pd.read_csv(file_to_load, engine='python')
csv.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [98]:
moviecount = (len(csv))
moviecount

16744

In [99]:
newdata = csv[(csv['Year'] > 2009) & (csv['Year'] < 2019)]
newdata

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
5,5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0
7,7,8,Django Unchained,2012,18+,8.4,87%,1,0,0,0,0,Quentin Tarantino,"Drama,Western",United States,"English,German,French,Italian",165.0
13,13,14,Room,2015,18+,8.1,93%,1,0,0,0,0,Lenny Abrahamson,"Drama,Thriller","Ireland,Canada,United Kingdom,United States",English,118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16733,16733,16734,Sea of Hope: America's Underwater Treasures,2017,NaN,7.3,NaN,0,0,0,1,0,Robert Nixon,Documentary,United States,English,48.0
16735,16735,16736,Secrets of the King Cobra,2010,NaN,6.4,NaN,0,0,0,1,0,NaN,Documentary,India,English,NaN
16736,16736,16737,Winged Seduction: Birds of Paradise,2012,NaN,6.5,NaN,0,0,0,1,0,Molly Hermann,Documentary,United States,English,NaN
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN

## Which streaming platform has the greatest number of popular movies?

In [110]:
RTrating = newdata[('Rotten Tomatoes')].sort_values()
RT2 = RTrating.dropna(how = 'any')
RTdf = pd.DataFrame(newdata[['Netflix','Rotten Tomatoes', 'Title']])
RTdf.dropna(inplace=True)
RTdf = RTdf[RTdf.Netflix != 0]
RTdf

      Netflix Rotten Tomatoes                              Title
0           1             87%                          Inception
2           1             84%             Avengers: Infinity War
5           1             97%  Spider-Man: Into the Spider-Verse
7           1             87%                   Django Unchained
13          1             93%                               Room
...       ...             ...                                ...
3230        1             60%                            Garbage
3332        1             40%                         Mantostaan
3365        1             20%               The Price of Success
3430        1             40%                             Mantra
3440        1             17%                      Coffee with D

[971 rows x 3 columns]

In [103]:
RTdf_clean= RTdf.loc[RTdf["Rotten Tomatoes"].find("<")!=-1]

AttributeError: 'Series' object has no attribute 'find'

In [106]:
# Make bins based on Percentages
bins = [0, 20, 40, 60,80, 100]
percentages = ["Terrible", "Fair", "Good", "Great", "Awesome", "Radical"]
RTdf["Rotten Tomatoes"] = pd.cut(RTdf["Rotten Tomatoes"], bins, labels= percentages, include_lowest=True)

RTdf.head()

ValueError: invalid literal for int() with base 10: 'Rotten Tomatoes'

In [ ]:
plt.hist([percentages, bins])
plt.tight_layout()
plt.show()